<!DOCTYPE html>
<html>
<head>
  <title>Julian Gruber</title>
  <style>
    body {
      margin: 0;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
    }
    article {
      height: 100%;
      width: 100%;
      text-align: center;
    }
    article img {
      max-width: 100%;
      max-height: 100vh;
      padding: 10px;
      box-sizing: border-box;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const elements = [...document.querySelectorAll('article')]

      const firstInViewIndex = () => {
        return elements.findIndex(element => {
          const { top, bottom } = element.getBoundingClientRect()
          return bottom > 0 && top < window.innerHeight
        })
      }
      const scrollToIndex = index =>
        elements[index]?.scrollIntoView({ behavior: 'instant' })
      const next = () => scrollToIndex(firstInViewIndex() + 1)
      const previous = () => scrollToIndex(firstInViewIndex() - 1)

      document.addEventListener('keydown', ev => {
        if (![
          32, // space
          40, // arrow down
          39 // arrow right
        ].includes(ev.keyCode)) return
        ev.preventDefault()
        next()
      })
      document.addEventListener('keydown', ev => {
        if (![
          37, // arrow left
          38 // arrow up
        ].includes(ev.keyCode)) return
        ev.preventDefault()
        previous()
      })
    })
  </script>
</head>
<body>
  {{photos}}
  <p>All rights reserved. Copyright {{year}} <a href="mailto:mail@juliangruber.com">Julian Gruber</a></p>
</body>
</html>